<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Staff Management System</h1>
    <hr>
    <h2>Change Password</h2>

    <form th:action="@{/changePassword}" th:object = "${staff}" method="POST">
        <input type="text" th:field = "*{oldPassword}" placeholder="Enter Default Password" class="form-control mb-4 col-4">
        <input type="text" th:field = "*{newPassword}" placeholder="Enter New Password" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Change Password</button>
    </form>

</div>

</body>
</html>