<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Staff Management System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Staff Management System</h1>
  <hr>
  <h2>Save Staff</h2>
  <form th:action="@{/saveStaff}" th:object = "${staff}" method="POST">
    <input type="text" th:field = "*{staffId}" placeholder="Staff Id" class="form-control mb-4 col-4">
    <input type="text" th:field = "*{firstName}" placeholder="Staff First Name" class="form-control mb-4 col-4">
    <input type="text" th:field = "*{lastName}" placeholder="Staff Last Name" class="form-control mb-4 col-4">
    <input type="date" th:field = "*{dob}" placeholder="Staff Date of Birth" class="form-control mb-4 col-4">
    <input type="email" th:field = "*{email}" placeholder="Staff Email" class="form-control mb-4 col-4">
    <input type="tel" th:field = "*{phoneNumber}" placeholder="Staff Phone Number" class="form-control mb-4 col-4">
    <input type="password" th:field = "*{password}" placeholder="Staff Default Password" class="form-control mb-4 col-4">
    <input type="text" th:field = "*{gender}" placeholder="Staff Gender" class="form-control mb-4 col-4">
    <input type="text" th:field = "*{role}" placeholder="Staff Role" class="form-control mb-4 col-4">
    <button type="submit" class="btn btn-info col-2">Save Staff</button>
  </form>
</div>
</body>
</html>